* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 100%;
    height: auto;
    background-color: azure;
    padding: 10% 17%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#parentDiv {
    width: 400px;
    height: 300px;
    background-color: bisque;
    border-radius: 5px;
    box-shadow: 0 2px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

#heading {
    color: #494848;
}

#colorBox {
    width: 300px;
    height: 200px;
    background-color: azure;
    border-radius: 5px;
}

#btnGroup {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 5px;
}

button {
    border: none;
    outline: none;
    padding: 8px 10px;
    cursor: pointer;
    border-radius: 3px;
    color: white;
    font-weight: 600;
}

#red {
    background-color: red;
}

#green {
    background-color: green;
}

#yellow {
    background-color: yellow;
    color: black;
}

#blue {
    background: blue;
}

#random {
    background-color: crimson;
}
